@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root{
    --background-image: #2c2c2c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-image);
    color: #ebebeb;
    font-family: JetBrains Mono, system-ui, -apple-system;
    min-height: 70vh;
    margin: 100px 0px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    margin: 20px 0px;
    padding: 20px;
    border: 6px solid #09f;
    min-width: 450px;
    max-width: 450px;
}

.boldtext{
    color: #09f;
    font-weight: bolder;
}

.profilepic{
    width: 100px;
    height: 100px;
    padding: 0px 0px;
}

.title{
    background-color: var(--background-image);
    position: absolute;
    padding: 0 10px;
    margin: -40px 0px 0px -0px;
}

section:hover{
    border: 6px solid #fffdff;
    transition: 0.3s;
}
